@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:  #665eff;
  --color-secondary: teal;
}


li a.active{
  @apply underline decoration-[#665eff]
}
 .my-btn {
  background-color: #665eff;
 color: #ffffff;
}
 .my-btn:hover {
  background-color: #ffffff;
  color: #665eff;
   transform: scale(1.05);
   transition: all 0.5s ease;
}
